<div class="user-edit">
  <div class="container">
    <h1 class="form-heading">アカウント編集</h1>
    <div class="users-form">
      <% @user.errors.full_messages.each do |message| %>
       <div class="form-error">
         <%= message %>
       </div>
      <% end %>
      <div class="users-form-body">
        <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
        <p>ユーザー名</p>
         <input name = "name" class="btn-infomation" value="<%= @user.name %>">
         <p>画像</p>
         <input name="image" type="file">
        <p>メールアドレス</p>
         <input name = "email" class="btn-infomation" value="<%= @user.email %>">
         <p></p>
         <input class="new-btn-signup" type="submit" value="新規登録">
         <% end %>
      </div>
    </div>
  </div>
</div>
