<div class="user-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>
    <div class="users-wrapper">
     <% @users.each do |user| %>
    <div class="user-index-item">
      <div class="user-left">
        <img src="<%= "/user_images/#{user.image_name}" %>" class="user-left-img">
      </div>
      <div class="user-right">
        <%=link_to(user.name,"/users/#{user.id}") %>
      </div>   
    </div>
    <% end %>
   </div>
  </div>

</div>
