<div class="login_form">
  <div class="container">
    <h1 class="users-heading">ログインフォーム</h1>
    <div class="users-form">
      <div class="users-form-body">
        <p>メールアドレス</p>
        <input type="" name="" value="" class="btn-infomation">
        <p>パスワード</p>
        <input type="password" name="" value="" class="btn-infomation">
        <p></p>
        <input class="new-btn-signup" type="submit" value="ログイン">
      </div>

    </div>

    </div>

  </div>
