<div class="login_form">
  <div class="container">
    <h1 class="users-heading">ログインフォーム</h1>
    <div class="users-form">
      <div class="users-form-body">
        <% if @error_message %>
        <div class="form-error">
          <%= @error_message %>
        </div>
        <% end %>
        <%= form_tag("/login") do %>
        <p>メールアドレス</p>
        <input type="" name="email" value="@email" class="btn-infomation">
        <p>パスワード</p>
        <input type="password" name="password" value="@password" class="btn-infomation">
        <p></p>
        <input class="new-btn-signup" type="submit" value="ログイン">
        <% end %>
      </div>

    </div>

    </div>

  </div>
