<header>
  <div class="header-logo">
    Recommander
  </div>
  <ul class="header-list">
    <li>Recommanderとは？</li>

  </ul>
</header>
    <div class="massage-wrapper">
      <div class="massage-container">
       <div class="heading">
         <h2>Recommanderとは？</h2>
       </div>
       <div class="upper-row">
         <div class="massage">

         </div>
         <div class="upper-icon">

         </div>


       </div>

     </div>
    </div>
