<header>
  <div class="header-logo">
    Recommander
  </div>
  <ul class="header-list">
    <li>Recommanderとは？</li>

  </ul>
</header>
    <div class="massage-wrapper">
      <div class="massage-container">
       <div class="heading">
         <h2>Recommanderとは？</h2>
       </div>
       <div class="massages">
         <div class="massage">
          <p>このアプリはあなたの曲探しを手助けします。</p>
           <p>毎日同じ曲を聞いていたり、なかなか自分好みの曲が見つからないなんて事はありませんか？</p>
         </div>
         <div class="massage">
           <img src="<%= "/about-image.jpg" %>">


         </div>


       </div>

     </div>
    </div>
