<header>
  <div class="header-logo">
    Recommander
  </div>
  <ul class="header-list">
    <li>Recommanderとは？</li>

  </ul>
</header>
<div class="top-main">
  <div class="top-massage">
    <h2>あなたの好きがきっと見つかる</h2>
    <p>今すぐRecommanderを始めよう</p>
    <a href="#" class="btn-signup">新規登録はこちらから</a>

  </div>

</div>
