<div class="post-show">
  <div class="container">
    <div class="posts-show-item">
      <p>
        <%=@post.content %>
      </p>
      <div class="posts-show-time">
        <%=@post.created_at  %>
      </div>
    </div>
  </div>
</div>
