
/* reset ================================ */
* {
  box-sizing: border-box;
}
ul,li {
  list-style-type: none;
  margin: 0;
}
a {
  text-decoration: none;
}
/* ヘッダー ================================ */
header {
  height: 65px;
  width: 100%;
}
.header-logo {
  float:left;
  font-size: 25px;
  line-height: 65px;

}
.header-list {
  float:right;

}
.header-list li {
  float: left;
  font-size:15px;
  line-height: 65px;
}

/* top ================================ */
.top-main {
  padding: 200px 0px 100px;
  border: 2px solid black;
  text-align: center;
  width: 100%;
  height:auto;
  background-size: cover;
  background-image: url("/girl-music.jpg");
}
.top-main h2 {
  font-size: 70px;
  padding-bottom: 40px;
}
.top-main p {
  font-size: 25px;
}
.btn-signup {
  font-size: 20px;
  display: inline-block;
  color: white;
  background-color: #77EEFF;
  opacity: 0.8;
  border-radius: 10px;
}
