
/* reset ================================ */
* {
  box-sizing: border-box;
}
ul,li {
  list-style-type: none;
  margin: 0;
}
/* ヘッダー ================================ */
header {
  height: 65px;
  width: 100%;
}
.header-logo {
  float:left;
  font-size: 25px;
  line-height: 65px;

}
.header-list {
  float:right;

}
.header-list li {
  float: left;
  font-size:15px;
  line-height: 65px;
}

/* top ================================ */
