/* posts/index ================================ */

.posts-index{

}
.posts-wrapper {
  margin:100px 120px;
}
.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

/* posts/show ================================ */

.posts-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
  margin-top: 100px;
}
.posts-show-item p {
  font-size: 50px;
}

.posts-show-time {
  color: #8899a6;
  margin-bottom: 10px;
}
.posts-menus {
  float:right;
  font-size:22px;
}

/* posts/new ================================ */
.form-body {
  padding-top: 150px;
  text-align: center;
}
.posts-new textarea {
  min-height: 200px;
  font-size: 20px;
  padding: 10px;
  resize: none;
  width: 70%;
  border: 1px solid #d8dadf;
}
