/* users/index ================================ */
.users-wrapper {
  margin-right: 250px;
  margin-left: 250px;
}
.users-heading {
text-align: center;
font-size: 48px;
color: #CCCCCC;
}
.user-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}
.user-left {
  float:left;
}
.user-left-img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}
.user-right {
  float: left;
  font-size: 28px;
  margin-left: 20px;
}
/* users/new ================================ */
.form-heading {
  text-align: center;
  font-size: 48px;
  color: #CCCCCC;
}
.users-form-body {
  text-align: center;
}
.users-form-body p {
  font-size: 30px;
}

.btn-infomation {
  width: 300px;
  height: 30px;
  font-size: 25px;
}

.new-btn-signup {
  width: 80px;
  background-color: #FFFAFA;
}

/* users/show ================================ */
.user {
  text-align: center;
  padding-top: 150px;
}
.user h2 {
  font-size: 50px;
}
.user p {
  font-size: 20px;
}
