.users-wrapper {
  margin-right: 120px;
  margin-left: 120px;
}
.users-heading {
text-align: center;
font-size: 48px;
color: #CCCCCC;
}
.user-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}
